<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appcuidapet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCuidaPet">
        <activity android:name=".activity.ResetPasswordActivity"
            android:label="Recuperar Senha" />
        <activity
            android:name=".activity.HigieneGatoActivity"
            android:label="Higiene Gatos" />
        <activity
            android:name=".activity.AcessoriosGatoActivity"
            android:label="Acessórios Gatos" />
        <activity
            android:name=".activity.AlimentacaoGatoActivity"
            android:label="Alimentação Gatos" />
        <activity
            android:name=".activity.HigieneDogActivity"
            android:label="Higiene Cachorros" />
        <activity
            android:name=".activity.AcessoriosDogActivity"
            android:label="Acessórios Cachorros" />
        <activity
            android:name=".activity.AlimentacaoDogActivity"
            android:label="Alimentação Cachorros" />
        <activity
            android:name=".activity.LocalizacaoActivity"
            android:label="Localização" />
        <activity
            android:name=".activity.ContatoActivity"
            android:label="Contato" />
        <activity
            android:name=".activity.CategoriaGatosActivity"
            android:label="Gatos" />
        <activity
            android:name=".activity.CategoriaCachorrosActivity"
            android:label="Cachorros" />
        <activity
            android:name=".activity.MaisActivity"
            android:label="CuidaPet" />
        <activity
            android:name=".activity.CarrinhoActivity"
            android:label="Carrinho" />
        <activity
            android:name=".activity.CategoriaActivity"
            android:label="Categorias" />
        <activity
            android:name=".activity.FavoritosActivity"
            android:label="Favoritos" />
        <activity android:name=".activity.ContaActivity" />
        <activity android:name=".activity.DetalhesProdutoActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>